@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@300;400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,600;1,400&family=Merriweather:wght@400;700;900&display=swap');

@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

:root {
  --clr-primary: orangered;
  --clr-accent: steelblue;
  --clr-neutral: white;

  --ff--primary: "Roboto", sans-serif;
  --ff--accent: 'Montserrat', sans-serif;

  --ff-accent: 'Karla', sans-serif;
  --ff-primary: 'Merriweather', serif;
}


html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.2;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 0.40em;
}

::-webkit-scrollbar-track {
  background: var(--clr-neutral);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border: 0.25em solid var(--clr-accent);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent);
  border: 0.25em solid var(--clr-primary);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--clr-primary) var(--clr-accent);
    scrollbar-width: thin;
  }
}

/* Back to top button */

.backToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 40px;
  background-color: var(--clr-accent);
}

.backToTopBtn:hover {
  background-color: var(--clr-primary);
}


/* Navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.icon {
  width: 40px;
  height: 50px;
}

.nav-list {
  list-style-type: none;
}


.list-item {
  display: inline-block;
  padding: 1rem 0.90rem;
}

.list-item a {
  font-family: var(--ff-accent);
  color: var(--clr-primary);
  text-decoration: none;
  position: relative;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 900;
}


.list-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: var(--clr-primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.list-item a:hover {
  color: var(--clr-primary);
  text-transform: capitalize;
  transition: transform 250ms;
}

.plus-span {
  font-family: var(--ff-accent);
  font-weight: 900;
  font-size: clamp(18px, 2vw, 22px);
  color: var(--clr-primary);
  padding: 0.1rem;
}

.list-item a:hover .plus-span {
  transition: transform 250ms;
  color: var(--clr-primary) !important;
  text-transform: capitalize;
}


.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 25px;
  height: 5px;
  background-color: var(--clr-primary);
  margin-bottom: 4px;
  transition: all 0.3s ease;
}

.toggle .menu-line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menu-line2 {
  opacity: 0;
}

.toggle .menu-line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.extra {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.extra-icon-image {
  width: 30px;
  height: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 120px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
  flex-direction: column;
}

/* Landing Page */

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 2rem 1rem;
}



.landing-page-into {
  max-width: 1000px;
  padding: 1rem;
  width: 100%;
  text-align: left;
}

.landing-page-title {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: clamp(20px, 7vw, 40px);
  color: var(--clr-primary);
  text-transform: uppercase;
 
}

.landing-page-paragraph {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: clamp(18px, 3vw, 20px);
  max-width: 700px;
}

.landing-page-laptop {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.slider-image {
  height: auto;
  width: 1000px;
  padding: 1rem;
}

.landing-page-hd {
  display: none;
}

.landing-page-mobile {
  display: none;
}

@media screen and (min-width: 1920px) {
  .landing-page-container {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    max-width: 2500px;
    margin: 0 auto;
  }

  .landing-page-laptop {
    display: none;
  }

  .landing-page-hd {
    width: 100%;
    display: block;
  }

  .slider-image-hd {
    height: auto;
    padding: 1rem;
    width: 100%;
    width: 4000px;
  }

  .landing-page-mobile {
    display: none;
  }
}




/* About Page */

.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 4rem;
}

.about-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
  max-width: 500px;
}

.image-section img {
  width: 70%;
  height: auto;
}

.biography-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.50rem;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.about-me-title {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-weight: 900;
  font-size: clamp(20px, 3vw, 26px);
  text-transform: uppercase;
}

.about-me-title span {
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: clamp(18px, 3vw, 24px);
  text-transform: none;
  color: var(--clr-accent);
}

.biography {
  font-family: var(--ff-accent);
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 400;
  max-width: 600px;
}


/* Stories Page */

.stories-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 1rem;
  min-height: 100vh;


}

.stories-words-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0rem;
}

.stories-words-container h1 {
  font-family: var(--clr-primary);
  font-weight: 700;
}

.stories-words-container p {
  font-family: var(--ff--accent);
  font-weight: 300;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  gap: 2rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  position: relative;
  padding: 0.2rem;
}

.card-image {
  width: 100%;
  height: auto;
}


.project-title {
  display: inline-block;
}



.card-description {
  font-family: var(--ff-accent);
  text-decoration: none;
  position: relative;
  color: var(--clr-primary);
  letter-spacing: 1.5px;
  width: fit-content;
}

.card-description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  color: var(--clr-primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.card-description:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.card-description:hover {
  text-transform: capitalize;
  transition: transform 250ms ease-in;
}




/* Contact Page */

.portrait-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1440px;
  min-height: 100vh;
  padding: 5rem 0rem 0 0;
}

.portrait-container div {
  flex: 1;
  max-width: 600px;
  text-align: end;
  margin: 0.30rem;
}

.portrait-container div h1 {
  font-family: var(--ff-primary);
  font-size: clamp(22px, 2vw, 26px);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.1;
}

.portrait-container div p {
  font-family: var(--ff-accent);
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 400;
}



.form-container {
  display: flex;
  text-align: start !important;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.20rem;
  max-width: 400px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 0.70rem;
  border: 2px solid var(--clr-accent);
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  caret-color: var(--clr-accent);
}

textarea{
  caret-color:var(--clr-primary);
  
}


::placeholder {
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: var(--clr-primary);
  box-shadow: 0 0 10px var(--clr-primary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
  color: var(--clr-primary);
}



label {
  font-family: var(--ff--primary);
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 900;
  text-transform: uppercase;

}

#subject {
  min-height: 0px;
}

#subbtn {
  float: right;
}

#subbtn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-primary);
}

#subbtn:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

#subbtn:hover:after {
  opacity: 1;
  right: 10px;
}

#subbtn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


/* Print Shop */

/* Print Shop Page */

.print-shop-link {
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 18px);
  color: var(--clr-primary);
  text-decoration: none;
}

.print-shop-introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  height: 100vh;
}

.print-shop-words {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 5%;
  padding: 0.5rem;
}

.print-shop-title {
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 25px);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--clr-neutral);
}

.print-shop-paragraph {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 20px;
}

.darkroom-link {
  font-family: var(--ff-accent);
  color: var(--clr-primary);
  text-decoration: none;
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 700;
}


.print-shop-introduction::after {
  content: "";
  background: url("https://res.cloudinary.com/da93q413z/image/upload/v1669991578/postcardwithnotes/printshop/intro-to-print-shop_ckclqf.webp");
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}


.gallery-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 5rem;

}

aside {
  width: 30%;
  height: fit-content;
  display: block;
  padding: 1rem;
}

aside div {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: auto;
  background-color: rgb(250, 250, 252);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
}

.print-type-name,
.gallery-page-title {
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 20px);
  color: var(--clr-primary);
  padding: 1rem;
  text-transform: uppercase;
}

.gallery-page-notes {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 18px);
  padding: 0 1rem;
  letter-spacing: 3px;
}

.gallery-page-paragraph {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 18px);
  padding: 1rem;
  line-height: 1.5rem;
  letter-spacing: 3px;
}

.gallery-page-images {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
  padding-top: 5rem;

}

.gallery-page-introduction {
  padding: 0.5rem;
}

.landscape-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landscape-print-shop {
  width: 100%;
  padding: 0.5rem;
}

.print-shop-images-container {
  background-color: #b78d8d;
  display: flex;
  flex-wrap: wrap;
}


.print-shop-images {
  width: 50%;
  height: auto;
  padding: 1rem;
}


.nft-listing-links {
  text-decoration: none;
  color: var(--clr-primary) !important;
  cursor: pointer;
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 18px);
  letter-spacing: 1px;
  line-height: 1;
}


/* Story */

/* Carousel */





.projects-title {
  font-family: var(--ff-accent);
  font-weight: 700;
  color: var(--clr-primary);
  position: relative;
  width: fit-content;
  cursor: pointer;
  font-size: clamp(25px, 7vw, 50px);

}

.projects-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.projects-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.projects-title:hover {
  transition: transform 250ms ease-in;
}



.stories-item-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
  max-width: 1440px;
  margin: 0 auto;
}

.stories-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0.25rem;
}

.stories-images {
  padding: 0.25rem;
  width: 45%;
}

.walls-from-home-images {
  padding: 0.25rem;
  width: 80%;
}

.stories-item-container section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-image-potrait {
  width: 32%;
}

.carousel-image-divided {
  width: 47%;
}

.carousel-image-landscape {
  width: 46%;
}

.triumph-big-landscape {
  width: 90%;
  margin: 0 auto;
}

/* Footer */

footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0.50rem;
}

.copyright-container {
  display: flex;
}

#trigger {
  font-size: clamp(16px, 2vw, 18px);
  padding-right: 4rem;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: #092144;

}

#element-to-show {
  display: none;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  padding-right: 10px;



}

.agency-name {
  font-size: clamp(16px, 2vw, 18px);
  color: orangered;

}

#element-to-show p {
  font-size: clamp(16px, 2vw, 18px);
  font-family: var(--ff-accent);
  font-weight: 300 !important;
}


.designer,
.copyright {
  text-decoration: none;
  font-size: clamp(16px, 2vw, 18px);
}


.designer {
  font-size: clamp(16px, 2vw, 18px);
  color: orangered;
}

.copyright {
  color: #005163;

}



/* Error Page */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 0;
}

.error-container div {
  text-align: center;
  padding: 8px;
}

.brandtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  background-color: beige;
}


.errorimage {
  width: 700px;
  height: auto;
}

.error-page-title {
  font-family: var(--ff-accent);
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 900;
  color: var(--clr-primary);
}

.not-found {
  text-transform: uppercase;
}

.css-button-arrow--black {
  min-width: 130px;
  height: 40px;
  color: var(--clr-primary);
  font-size: 20px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #fbfdff;
  text-decoration: none;
}

.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 24px;
}

.css-button-arrow--black:hover:after {
  opacity: 1;
  left: 10px;
}

.css-button-arrow--black:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 40px;
  top: 0;
  left: -20px;
  transition: 0.4s;
}